@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-helvetica);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
  :root {
    --background: 234 23% 17%;
    --foreground: 225 69% 87%;
    --muted: 234 12% 21%;
    --muted-foreground: 234 12% 71%;
    --popover: 234 23% 14%;
    --popover-foreground: 225 69% 97%;
    --card: 234 23% 15%;
    --card-foreground: 225 69% 92%;
    --border: 234 13% 22%;
    --input: 234 13% 25%;
    --primary: 217 100% 74%;
    --primary-foreground: 217 100% 14%;
    --secondary: 217 30% 25%;
    --secondary-foreground: 217 30% 85%;
    --accent: 234 23% 32%;
    --accent-foreground: 234 23% 92%;
    --destructive: 3 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 100% 74%;
  }
}




@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
