@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.gradient-text {
		background-image: var(--gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	/* Ajoutez cette définition */
	.bg-gradient {
		background-image: var(--gradient);
	}
}

@layer base {
	:root {
		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #3494e6, #ec6ead);

		--background: 221 50.7% 4.4%;
		--foreground: 221 7.800000000000001% 97.75%;

		--muted: 221 39% 16.5%;
		--muted-foreground: 221 7.800000000000001% 55.5%;

		--popover: 221 49.4% 7.15%;
		--popover-foreground: 221 7.800000000000001% 97.75%;

		--card: 221 49.4% 7.15%;
		--card-foreground: 221 7.800000000000001% 97.75%;

		--border: 221 39% 16.5%;
		--input: 221 39% 16.5%;

		--primary: 221 78% 55%;
		--primary-foreground: 221 7.800000000000001% 5.5%;

		--secondary: 221 39% 16.5%;
		--secondary-foreground: 221 7.800000000000001% 97.75%;

		--accent: 221 39% 16.5%;
		--accent-foreground: 221 7.800000000000001% 97.75%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 221 7.800000000000001% 97.75%;

		--ring: 221 78% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
