@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-helvetica);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.gradient-text {
		background-image: var(--gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	/* Ajoutez cette définition */
	.bg-gradient {
		background-image: var(--gradient);
	}
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#e0c3fc,#8ec5fc);

    --background: 287 59.15% 7.04%;
    --foreground: 287 9.1% 99.4%;

    --muted: 287 45.5% 26.4%;
    --muted-foreground: 287 9.1% 58.8%;

    --popover: 287 46.8% 11.44%;
    --popover-foreground: 287 9.1% 99.4%;

    --card: 287 46.8% 11.44%;
    --card-foreground: 287 9.1% 99.4%;

    --border: 287 45.5% 26.4%;
    --input: 287 45.5% 26.4%;

    --primary: 287 91% 88%;
    --primary-foreground: 287 9.1% 8.8%;

    --secondary: 287 45.5% 26.4%;
    --secondary-foreground: 287 9.1% 99.4%;

    --accent: 287 45.5% 26.4%;
    --accent-foreground: 287 9.1% 99.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 287 9.1% 99.4%;

    --ring: 287 91% 88%;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
